/*
  theme: ocean

  base00 #2b303b
  base01 #343d46
  base02 #4f5b66
  base03 #65737e
  base04 #a7adba
  base05 #c0c5ce
  base06 #dfe1e8
  base07 #eff1f5
  base08 #bf616a
  base09 #d08770
  base0A #ebcb8b
  base0B #a3be8c
  base0C #96b5b4
  base0D #8fa1b3
  base0E #b48ead
  base0F #ab7967
*/

.mobx-react-form-devtools .tools {
  font-size: 16px;
}

.mobx-react-form-devtools .draggable {
  position: fixed;
  right: 0;
  top: 100px;
  padding: 5px 5px 7px 5px;
  background: #2b303b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mobx-react-form-devtools .draggable button {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background: #a3be8c;
  color: #2b303b;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.mobx-react-form-devtools .draggable button:hover {
  background: #ebcb8b;
}

.mobx-react-form-devtools .draggable i {
  font-size: 15px;
}

.mobx-react-form-devtools .draggable .fa-bars {
  font-size: 22px;
  color: #a7adba;
}

.mobx-react-form-devtools .heading {
  font-size: 14px;
  background: #2b303b;
  color: #2b303b;
  border-bottom: 1px solid #65737e;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: -45px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.mobx-react-form-devtools .heading .left {
  height: 45px;
  line-height: 45px;
}

.mobx-react-form-devtools .heading .left i {
  color: #8fa1b3;
  padding-left: 25px;
}

.mobx-react-form-devtools .heading .left b {
  color: #d08770;
  padding-left: 10px;
}

.mobx-react-form-devtools h4.form {
}

.mobx-react-form-devtools h4 {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  margin: 44px 0 0 0;
  background: #65737e;
  border-bottom: 1px solid #2b303b;
  color: #2b303b;
  text-transform: uppercase;
}

.mobx-react-form-devtools h5 {
  padding: 10px;
  margin: 0;
  background: #8fa1b3;
  color: #2b303b;
  text-transform: uppercase;
}

.mobx-react-form-devtools .draggable i {
  color: #2b303b;
}

.mobx-react-form-devtools .heading button i {
  color: #a3be8c;
  font-size: 25px;
  margin: 10px 10px 0 0;
}

.mobx-react-form-devtools .heading button i:hover {
  color: #ebcb8b;
}

.mobx-react-form-devtools b a {
  color: #ebcb8b;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .mobx-react-form-devtools { display: none; }
}

/* select */

.mobx-react-form-devtools select {
  margin: 4px 0 0 0;
  padding: 3px 8px;
  border: 1px solid #343d46;
  width: auto;
  font-size: 15px;
  /* height: 18px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ebcb8b;
  background-color: #2b303b;
  background-position:right 50%;
  background-repeat:no-repeat;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=');
}


