{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "no-confusing-arrow": 0,
    "quote-props": ["error", "consistent-as-needed"]
  }
}
